src/tools/__pycache__/
src-tauri/target/
src-tauri/plugins/**/android/build/
src-tauri/plugins/**/android/.gradle/
src-tauri/plugins/**/android/.tauri/
src-tauri/plugins/**/node_modules/
src-tauri/plugins/**/*.orig
src-tauri/plugins/**/CHANGELOG.md
src-tauri/plugins/**/README.md
src-tauri/plugins/**/SECURITY.md
src-tauri/plugins/**/banner.png
src-tauri/plugins/**/.cargo-ok
src-tauri/plugins/**/.cargo_vcs_info.json
src-tauri/plugins/**/Cargo.lock
src-tauri/plugins/**/package.json
src-tauri/plugins/**/rollup.config.js
src-tauri/plugins/**/tsconfig.json
src-tauri/plugins/**/guest-js/
src-tauri/plugins/**/test/
docs/Obsidian/
src/items/backup-*.json
